<?xml version="1.0" ?>
<config>
    <modules>
        <SemExpert_FailSetup>
            <version>1.0.0</version>
        </SemExpert_FailSetup>
    </modules>
    <global>
        <resources>
            <failsetup_setup>
                <setup>
                    <module>SemExpert_FailSetup</module>
                </setup>
            </failsetup_setup>
        </resources>
    </global>
</config>